<!DOCTYPE html>
<html>
<head>
    <title>Redirecionar para o Admin</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Área administrativa</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}"> Inicio</a>
                </li>
    </nav>


<div class="container mt-5">
    <h1>Acessar a área de administração do sistema</h1>
    <p>Clique no botão abaixo para acessar o painel de administração do Django.</p>
    
    <a href="http://127.0.0.1:8000/admin/login/?next=/admin/" class="btn btn-primary">Acessar o Admin do Django</a>
</div>

</body>
</html>