<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aulas do Curso</title>
</head>
<body>

<div class="container mt-5">
    <h1 class="mb-4">Aulas do Curso</h1>

    <!-- Adição de Aulas -->
    <form method="post" action="{% url 'registrar_aula' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="titulo" class="form-label">Título da Aula:</label>
            <input type="text" name="nome" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="descricao" class="form-label">Descrição da Aula:</label>
            <textarea name="descricao" class="form-control" required></textarea>
        </div>
        <div class="mb-3">
            <label for="data" class="form-label">Data da Aula:</label>
            <input type="date" name="data" class="form-control" required>
        </div>
       
        <button type="submit" class="btn btn-primary">Adicionar Aula</button>
    </form>

    <!-- Lista de Aulas -->
    <ul class="list-group mt-4">
        {% for aula in aulas %}
            <li class="list-group-item">
                <h3>{{ aula.nome }}</h3>
                <p>{{ aula.descricao }}</p>
            </li>
        {% endfor %}
    </ul>
</div>

</body>
</html>