<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Controle Acadêmico</title>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
      </head>
</head>
<body>
    <!-- Menu de Navegação -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Controle Acadêmico</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="alunos.html">Alunos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="aulas.html">Aulas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="presencas.html">Presenças</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="certificados.html">Certificados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="administradores.html">Administradores</a>
                    </li>
                   
                </ul>
            </div>
        </div>
    </nav>

    <!-- Cabeçalho -->
    <header class="container mt-4">
        <h1>Bem-vindo ao Sistema de Controle Acadêmico do colégio Antônio Carlos</h1>
    </header>

    <!-- Conteúdo Principal -->
    <div class="container mt-4">
        <p><strong> A sociedade vive dentro de um contexto em que tudo tem que dar certo, e, quando
            isso não acontece nos frustramos, desesperamos e perdemos o rumo na vida. O que
            somos, onde estamos e para onde iremos são questões que rodeiam a todo instante. 
            O processo histórico fomenta a necessidade de se preparar para os momentos que a 
            vida disser não, ressalta também, que haverá sempre um agente opressor e um 
            oprimido, isto se fortalece na perspectiva de distanciamento do discurso e prática. 
            Nessa métrica, o nosso projeto visa introduzir os alunos do colégio onde o projeto está 
            sendo realizado ao cenário da informática, lhes passando conteúdos dos mais básicos 
            para que aprendam a operar um computador como uma ferramenta de 
            desenvolvimento pessoal e profissional.</strong></p>
    </div>

</body>
</html>