<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Presença</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Registro de presença</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}"> Inicio</a>
                </li>
    </nav>

<div class="container mt-5">
    <h1 class="mb-4">Registrar Presença</h1>

    <form method="post" action="{% url 'registrar_presenca' %}">
        {% csrf_token %}
      
        <div class="mb-3">
            {{ form.sala.label_tag }}
            {{ form.sala }}
        </div>
        {{ form.as_p }}
    
        <button type="submit" class="btn btn-primary">Registrar Presença</button>
    </form>
    
</div>

</body>
</html>
