<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Presença</title>
</head>
<body>

<div class="container mt-5">
    <h1 class="mb-4">Registrar Presença</h1>

    <form method="post" action="{% url 'registrar_presenca' %}">
        {% csrf_token %}
      
        <div class="mb-3">
            {{ form.sala.label_tag }}
            {{ form.sala }}
        </div>
        {{ form.as_p }}
    
        <button type="submit" class="btn btn-primary">Registrar Presença</button>
    </form>
    
</div>

</body>
</html>
